<section class="row" id="our-history">
  <div class="col-md-12">
    <h3>Our History</h3>
    <p>
    Mike Boston and Tim Wilkison, the managing directors of Wilkison Partners,
    first met in 1990 in Charlotte, North Carolina, where they still reside.
    At the time, Mike was the General Manager of Olde Providence Racquet Club,
    one of the most successful tennis facilities in the US, and Tim was competing
    on the Association of Tennis Professionals (ATP) Tour. Both men saw in each
    other a drive to tackle and complete new projects and challenges at the highest
    level.
    </p>
    <p>
    Their friendship developed, soon manifesting in a new company, Wilkison Partners.
    Over the past 10 years, Wilkison Partners has been involved in the planning and
    design of some of the country's finest master planned communities, acquiring a
    deep knowledge of the planning, marketing, financing, construction, and development
    of residential communities.
    </p>
    <p>
    Wilkison Partners' guiding principle is to become the <em>World's Finest Small Community
    Developer</em>. By collaborating with developers and builders of the highest standard,
    Wilkison Partners provides great homeowner experiences in aesthetically pleasing and
    environmentally sustainable communities.
    </p>
    <p>
    We sincerely hope that you will contact us about the opportunity to become part of our growing family!
    </p>
  </div>
</section>
