<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Wilkison Partners</title>
  </head>
  <body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Wilkison Partners</a>
      </div>
      <div class="navbar-collapse collapse ">
        <ul class="nav navbar-nav">
          <li class="active"><a href="{{servlet-context}}/">Home</a></li>
          <li class=""><a href="#our-history">Our History</a></li>
          <li class=""><a href="#services">Services</a></li>
          <li class=""><a href="#Projects">Projects</a></li>
        </ul>
      </div>
    </div>
  </div>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
    <!-- scripts and styles -->
    {% style "/css/bootstrap-theme.min.css" %}
    {% style "/css/bootstrap.min.css" %}
    {% style "/css/cover.css" %}
    {% style "/css/screen.css" %}
    <script src="//code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
    {% script "/js/bootstrap.min.js" %}
    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
  </body>
</html>

