<div class="row" id="projects">
  <div class="col-md-12">
    <h3>Projects</h3>
    <div class="col-md-3">
      <a href="#"><img data-src="holder.js/140x140" alt="..." class="img-circle preview"></a>
    </div>
    <div class="col-md-3">
      <a href="#"><img data-src="holder.js/140x140" alt="..." class="img-circle preview"></a>
    </div>
    <div class="col-md-3">
      <a href="#"><img data-src="holder.js/140x140" alt="..." class="img-circle preview"></a>
    </div>
    <div class="col-md-3">
      <a href="#"><img data-src="holder.js/140x140" alt="..." class="img-circle preview"></a>
    </div>
  </div>
</div>
