<section class="row">
  <div class="col-md-3">
    <a href="#"><img data-src="holder.js/140x140" alt="..." class="img-circle preview"></a>
  </div>
  <div class="col-md-3">
    <a href="#"><img data-src="holder.js/140x140" alt="..." class="img-circle preview"></a>
  </div>
  <div class="col-md-3">
    <a href="#"><img data-src="holder.js/140x140" alt="..." class="img-circle preview"></a>
  </div>
  <div class="col-md-3">
    <a href="#"><img data-src="holder.js/140x140" alt="..." class="img-circle preview"></a>
  </div>
</section>
