<div class="row" id="services">
  <div class="col-md-12">
    <h3>Services</h3>
    <p>When developing a club, community or development; Wilkison Partners works through four fundamental areas.
    CONCEPTION
    WP meets with the principles of the project to understand their objectives.  Multiple aspects of the project are outlined and an initial timeline for the various stages of development is made.
    BUSINESS PLAN
    WP develops budgets and performance expectations around the project concept.  A Profit/Loss statement for the project is developed at this point to determine it's financial feasibility.
    DEVELOPMENT
    At this stage, initial budgets are approved/funded and the project moves forward.  A  Land Plan will be developed and managed through the local government zoning and ordinance approval processes.  The engineering and submitted of final plans, and approval of those plans by local government, will be managed.  A General Contractor will be engaged and managed through the construction phase of the project.
    SALES
    WP is experienced in selecting and managing the onsite marketing/sales staff to work with potential homeowners in a "client oriented" approach as they make such an important decision for their family.
    
    Wilkison Partners has a proven track record of management in these four areas of bringing a development project to a success.  Whether you are a potential development partner or a homeowner in one of our communities, we appreciate your interest in helping us strive in "Becoming the World's Finest Small Community Developer".</p>
  </div>
</div>
