<div class="row" id="services">
  <div class="col-md-12">
    <h3 class="anchor-heading">Services</h3>
    <p>Wilkison Partners has a proven track record of in each of the four functional areas
       that drive a development project success. Whether you are a potential development partner
       or a homeowner in one of our communities, we appreciate your interest in helping us become
       the <em>World's Finest Small Community Developer</em>.
    </p>
    <div class="row featurette">
      <div class="col-md-7">
        <h4>Conception</h4>
        <p>We meet with the principles of the project to understand their objectives. Multiple aspects of the project are outlined and an initial timeline for the various stages of development is made.</p>
      </div>
      <div class="col-md-5">
        <img data-src="holder.js/140x140" alt="..." class="img preview">
      </div>
    </div>
    <div class="row featurette">
      <div class="col-md-5">
        <img data-src="holder.js/140x140" alt="..." class="img preview">
      </div>
      <div class="col-md-7">
        <h4>Business Plan</h4>
        <p>We develop budgets and performance expectations around the project concept. A Profit/Loss statement for the project is developed to determine financial feasibility.</p>
      </div>
    </div>
    <div class="row featurette">
      <div class="col-md-7">
        <h4>Development</h4>
        <p>Initial budgets are approved/funded. A Land Plan is developed and managed through the local government zoning and ordinance approval processes. The engineering, submission, and municipal approval of final plans occurs. A General Contractor is engaged and managed through the construction phase of the project.</p>
      </div>
      <div class="col-md-5">
        <img data-src="holder.js/140x140" alt="..." class="img preview">
      </div>
    </div>
    <div class="row featurette">
      <div class="col-md-5">
        <img data-src="holder.js/140x140" alt="..." class="img preview">
      </div>
      <div class="col-md-7">
        <h4>Sales</h4>
        <p>We are experienced in selecting and managing onsite marketing/sales staff to work with potential homeowners in a "client-oriented" approach as they make such an important decision for their family.</p>
      </div>
    </div>
        
  </div>
</div>
